{% extends 'accounts/login/login.html' %}
{% load i18n %}
{% block login-form %}
<form name="contact_form" class="default-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">

                <div class="form-group style-two">
                    <input type="email" name="email" class="form-control" value="" placeholder="{% trans 'Email adresinizi daxil edin' %}" required="">
                </div>
            </div>
        </div>

    <div class="contact-section-btn text-center">
        <div class="form-group style-two">
            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
            <button class="thm-btn thm-color" type="submit" >{% trans 'Bərpa et' %}</button>
        </div>
    </div>
</form>
{% endblock %}