<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">{% trans 'Diaqnoz dəqiqliyi' %}</div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 patient-form-div">
        <input class="star star-5" id="star-5-diagnosis" type="radio"
               name="star-diagnosis" value="5"/>
        <label class="star star-5" for="star-5-diagnosis"></label>
        <input class="star star-4" id="star-4-diagnosis" type="radio"
               name="star-diagnosis" value="4"/>
        <label class="star star-4" for="star-4-diagnosis"></label>
        <input class="star star-3" id="star-3-diagnosis" type="radio"
               name="star-diagnosis" value="3"/>
        <label class="star star-3" for="star-3-diagnosis"></label>
        <input class="star star-2" id="star-2-diagnosis" type="radio"
               name="star-diagnosis" value="2"/>
        <label class="star star-2" for="star-2-diagnosis"></label>
        <input class="star star-1" id="star-1-diagnosis" type="radio"
               name="star-diagnosis" value="1"/>
        <label class="star star-1" for="star-1-diagnosis"></label>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">{% trans 'İşçi heyətinin nəzakəti' %}</div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 patient-form-div">
        <input class="star star-5" id="star-5-working_politeness" type="radio"
               name="star-working_politeness" value="5"/>
        <label class="star star-5" for="star-5-working_politeness"></label>
        <input class="star star-4" id="star-4-working_politeness" type="radio"
               name="star-working_politeness" value="4"/>
        <label class="star star-4" for="star-4-working_politeness"></label>
        <input class="star star-3" id="star-3-working_politeness" type="radio"
               name="star-working_politeness" value="3"/>
        <label class="star star-3" for="star-3-working_politeness"></label>
        <input class="star star-2" id="star-2-working_politeness" type="radio"
               name="star-working_politeness" value="2"/>
        <label class="star star-2" for="star-2-working_politeness"></label>
        <input class="star star-1" id="star-1-working_politeness" type="radio"
               name="star-working_politeness" value="1"/>
        <label class="star star-1" for="star-1-working_politeness"></label>
    </div>
</div>